/* CSS Document */
* {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Poppins', sans-serif;
    background: #131313;
    background-repeat: no-repeat;
    background-size: cover;
}
.dauX {
    width: 30px;
    height: 19px;
/*    background: pink;*/
    float: right;
    margin-right: 100px;
    margin-top: 10px;
}
.dauX a {
    color: white;
    text-decoration: none;
    font-size: 40px;
    position: fixed;
}
/*container1*/
.container1 {
    width: 100%;
    height: 100vh;
}
.header {
    /*	background: blue;*/
    width: 1170px;
    height: 133px;
    margin: 0 auto;
    padding-top: 80px;
}
.text_1 {
    text-align: center;
    color: white;
}
.text_1 p {
    color: #9F9F9F;
    font-size: 15px;
}
.text_1 h2 {
    font-size: 46px;
}
.text_1 hr {
    width: 70px;
    border-color: #009E66;
    margin: 0 auto;
    margin-top: 10px;
    border-width: 2px;
}
.wrapper1{
	width: 1365px;
	height: 680px;
/*	background: red;*/
	margin: 0 auto;
	margin-top: 70px
}
.left{
	width: 600px;
	height: 437px;
/*	background: yellow;*/
	float: left;
	margin-left: 130px;
}
.left1{
	width: 600px;
	height: 393px;
/*	background: pink;*/
}
.right{
	width: 500px;
	height: 393px;
/*	background: blue;*/
	float: right;
	margin-right: 85px;
/*	padding-left: 15px;*/
}
.right2{
	width: 470px;
	height: 393px;
/*	background: purple;*/
/*	padding-left: 15px;*/
}
.text_2{
	width: 600px;
	height: 36px;
/*	background: green;*/
	margin: 0px 0px 22px;
}
.text_2 h4{
	font-size: 24px;
	color: white;
	margin-bottom: 30px
}
.form-control{
	padding: 9px 14px;
	font-size: 15px;
	background: #161616;
	border: none;
}
.chu1{
	float: left;
}
.chu2{
	float: right;
}
.chu3{ 
    margin-top: -265px;
}
.chu4{
	margin-top: 18px;
}
.nut .button {
    float: left;
    margin-top: 10px;
}
.nut a {
    color: white;
    text-decoration: none;
    text-align: center;
    line-height: 45px;
}
.button {
    width: 166.64px;
    height: 43px;
    border: none;
    background: #009E66;
    border-radius: 50px;
}
.text_6{
	width: 500px;
	height: 36px;
/*	background: green;*/
	margin: 0px 0px 22px;
}
.text_6 h4{
	font-size: 24px;
	color: white;
	margin-bottom: 30px
}
.text_6 p{
	font-size: 15px;
	color: #9F9F9F;
}
.tong{
	width: 470px;
	height: 150px;
/*	background: green;*/
    padding-top: 230px
}
.box1{
	width: 455px;
	height: 57px;
/*	background: yellow;*/
	margin-top: -160px
}
.icon{
	float: left;
	font-size: 35px;
	color: #009E66;
	margin-top: 20px;
}
.box2{
	width: 455px;
	height: 57px;
/*	background: yellow;*/
	margin-top: 24.7px;
}
.box3{
	width: 455px;
	height: 57px;
/*	background: yellow;*/
	margin-top: 24.7px;
}
.box4{
	width: 455px;
	height: 57px;
/*	background: yellow;*/
	margin-top: 24.7px;
}
.chu5{
	width: 405px;
	height: 57px;
/*	background: blue;*/
	float: right;
}
.chu5 ul li{
	list-style-type: none;
}
.chu5 ul li a{
	text-decoration: none;
}
.chu5 h6{
	font-size: 15px;
	color: white;
    padding: 12px 0 12px 22px;
	border-left: 2px solid #9F9F9F;
}
.chu5 span{
	font-size: 14px;
	color: #9F9F9F;
    padding: 12px 0 12px 22px;
	border-left: 2px solid #9F9F9F;
}
#contact-name{
	color: #9F9F9F;
	width: 265px;
	height: 30px;
/*	border-radius: 10px;*/
	border-bottom: 1px solid #009E66;
}
#contact-email{
	color: #9F9F9F;
	width: 265px;
	height: 30px;
/*	border-radius: 10px;*/
	border-bottom: 1px solid #009E66;
}
#contact-subject{
	color: #9F9F9F;
	width: 572px;
	height: 30px;
/*	border-radius: 10px;*/
	border-bottom: 1px solid #009E66;
}
#contact-message{
    width: 572px;
	color: #9F9F9F;
	height: 180px;
/*	border-radius: 10px;*/
}




















