@charset "utf-8";
/* CSS Document */
*{
	margin: 0;
	padding: 0;
}
body{
	font-family:Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif"
}
/*Masthead*/
header.masthead{
	background: url("image/bg-masthead.jpg"); 
	padding-top: 8rem;
	padding-bottom: 8rem;
	padding-left: 0;
	padding-right: 0;
	position: relative;
}
header.masthead h1{
	font-size: 2.5rem;
}
header.masthead.overlay{
	height: 100%;
	weight: 100%;
	position: absolute;
}
/*Icons Grid*/

/*Image Showcases*/
.showcase .showcase-text {
    padding: 3rem;
}
.showcase .showcase-img {
    min-height: 30rem;
    background-size: cover;
}
/*Testimonials*/
.testimonials {
    padding-top: 7rem;
    padding-bottom: 7rem
}
.testimonials .testimonial-item {
    max-width: 18rem
}
.testimonials .testimonial-item img {
    max-width: 12rem;
    box-shadow: 0 5px 5px 0
}
/*Call to Action*/
.call-to-action{
	background: url("image/bg-masthead.jpg");  
	padding-top: 7rem;
	padding-bottom: 7rem;
	padding-left: 0;
	padding-right: 0;
	position: relative;
}
.call-to-action .overlay{
	height: 100%;
	weight: 100%;
	position: absolute;
}
/*Footer*/
footer.footer {
    padding-top: 4rem;
    padding-bottom: 4rem
}